<div  id="list-catalog" class="content list-group catalog-group">
    <div class="col-md-12" *ngFor="let account of listperson; let ind = index">
        <div id="{{account.id}}" class="list-group-item" title="{{account.name}} " (click)="onSelect(ind)" [ngClass]="{active: (selectedIndex === ind)}">
            <span class="img" [ngStyle]="{'background-image': 'url(' + account.image + '),url(assets/img/nouser.png)'}"></span>
            <p>
                <b>{{account.name}}</b><br>
                <small>{{account.count}} statements</small>
            </p>
        </div>
    </div>
</div>
<div class="col-md-12">    
    <label class="sumrows-catalog">{{totalItems}} Persons<span id="info-selected-catalog"></span></label>    

</div>